{{>header }}
  <h1 class="padding-top-4 front">{{ title }}</h1>
  <p class="h5 excerpt">{{ excerpt }}</p>
  <main class="">
    {{{ contents }}}
    {{#if collections.html }}
      <ul class="grid-2">
      {{#each collections.html }}
        <li>
          <h5 class="h5 titel"><a href="/{{path}}">{{ title }}</a></h5>
          <span class="center excerpt">{{ formattedDate date }} @ {{ collections }}</span>
          <p>{{ excerpt }}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </main>
{{>footer }}