{{>header }}
  <p class="padding-top-4 pad-0">{{ intro }}</p>
  <h1 class="front pad-top-0">{{ title }}</h1>
  <p class="h5 excerpt color-excerpt">{{ excerpt }}</p>
  <main class="">
    {{{ contents }}}
    {{#if collections.javascript }}
      <ul class="grid-2">
      {{#each collections.javascript }}
        <li>
          <h5 class="color-link"><a href="/{{path}}">{{ title }}</a></h5>
          <span class="dateTag">{{ formattedDate date }} @ {{ collections }}</span>
          <p class="color-excerpt">{{ excerpt }}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </main>
{{>footer }}